@model object

@{
    ViewBag.Title = "IKN";
    Layout = "_Layout";
}

<div class="mt-5"></div>

<h2>@ViewBag.Title - Overview</h2>

<div class="mb-5"></div>

<div class="row">

    <div class="col-sm-2">
        <!-- Nav pills -->
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#lecture01">Lecture 1</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture02">Lecture 2</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture03">Lecture 3</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture04">Lecture 4</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture05">Lecture 5</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture06">Lecture 6</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture07">Lecture 7</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture08">Lecture 8</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture09">Lecture 9</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture10">Lecture 10</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture11">Lecture 11</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture12">Lecture 12</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture13">Lecture 13</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#lecture14">Lecture 14</a></li>

        </ul>
    </div>
    <div class="col-sm-10">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active container" id="lecture01">
                @await Html.PartialAsync("Lecture01")
            </div>
            <div class="tab-pane container" id="lecture02">
                @await Html.PartialAsync("Lecture02")
            </div>
            <div class="tab-pane container" id="lecture03">
                @await Html.PartialAsync("Lecture03")
            </div>
            <div class="tab-pane container" id="lecture04">
                @await Html.PartialAsync("Lecture04")
            </div>
            <div class="tab-pane container" id="lecture05">
                @await Html.PartialAsync("Lecture05")
            </div>
            <div class="tab-pane container" id="lecture06">
                @await Html.PartialAsync("Lecture06")
            </div>
            <div class="tab-pane container" id="lecture07">
                @await Html.PartialAsync("Lecture07")
            </div>
            <div class="tab-pane container" id="lecture08">
                @await Html.PartialAsync("Lecture08")
            </div>
            <div class="tab-pane container" id="lecture09">
                @await Html.PartialAsync("Lecture09")
            </div>
            <div class="tab-pane container" id="lecture10">
                @await Html.PartialAsync("Lecture10")
            </div>
            <div class="tab-pane container" id="lecture11">
                @await Html.PartialAsync("Lecture11")
            </div>
            <div class="tab-pane container" id="lecture12">
                @await Html.PartialAsync("Lecture12")
            </div>
            <div class="tab-pane container" id="lecture13">
                @await Html.PartialAsync("Lecture13")
            </div>
            <div class="tab-pane container" id="lecture14">
                @await Html.PartialAsync("Lecture14")
            </div>
        </div>
    </div>
</div>



<div class="mb-5"></div>
