<!-- Template -->
<!-- <div class="card">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body text-dark">
    <h4 class="card-title">Lecture 01</h4>
    <p class="card-text">Text</p>
  </div>
</div> -->

<div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body text-dark">
        <h4 class="card-title">Lecture 01</h4>
        <div>
          <h5>SQL vs noSQL</h5>
          <p><strong>What is the difference?</strong></p>
          <h6>SQL</h6>
          <p></p>
          <h6>noSQL</h6>
          <p></p>
          <ul>
            <li>SQL ORM - Entity Framework Core (.Net Core)</li>
            <li></li>
          </ul>
          <h6>REST(ful)</h6>
        </div>
    </div>
</div>