@model object

@{
    ViewBag.Title = "Assignments";
    Layout = "_Layout";
}
<div class="mt-5"></div>

<h2>Lecture Plan</h2>
<br>
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Week</th>
                    <th>Assignment</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sunday: DAB assignment</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Sunday: DAB assignment</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Saturday: SWD assignment <br/> Sunday: DAB assignment</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Tuesday: SWT small assignment</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Thursday: IKN assignment</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Sunday: SWD assignment</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Sunday: DAB assignment</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Wednesday: SWT large assignment</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Sunday: DAB large assignment</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Tuesday: IKN assignment</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Wednesday 30/5 before 12:00 Semester Project hand-in</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div></div>
