@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div>
        <div class="row mt-3">
            <h2>Books</h2>
        </div>
        <div class="row">
            <p><a target="_blank" href="https://www.dropbox.com/sh/srv470rr6lbzevl/AABYIHL06EVRQZOjiXo7zm2Ca?dl=0">Collection of books</a></p>
        </div>
        <div class="row">
            <p>Work in progress</p>
        </div>
    </div>
    <div class="row">
        <ol>
            <li>
                <span style="color: rgb(11, 194, 11)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <a target="_blank" href="https://www.amazon.com/Head-First-Design-Patterns-Brain-Friendly-ebook/dp/B00AA36RZY/ref=mt_kindle?_encoding=UTF8&me=">
                    Head First Design Patterns
                </a>

            </li>

            <li>
                <span style="color: rgb(11, 194, 11)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>

                <a target="_blank" href="https://www.amazon.com/Database-Modeling-Design-Fifth-Management/dp/0123820200">
                    Database Modeling and Design
                </a>
                <ol>
                    <li>
                        <span style="color: rgb(236, 35, 35);">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                        <a target="_blank" href="https://www.packtpub.com/big-data-and-business-intelligence/learning-azure-documentdb">
                            Learning Azure DocumentDB
                        </a>
                    </li>
                </ol>
            </li>
            <li>
                <span style="color: rgb(11, 194, 11)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <a target="_blank" href="https://www.apress.com/us/book/9781430243656">
                    Pro WPF 4.5 in C#. Windows Presentation Foundation in .NET
                </a>
            </li>
            <li>
                <span style="color: rgb(236, 35, 35);">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <a target="_blank" href="">
                    Computer Networking - A Top Down Approach
                </a>
            </li>
            <li>
                <span style="color: rgb(11, 194, 11)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <a target="_blank" href="">
                    Art of Unit Testing with Examples in C#
                </a>
            </li>
            <!-- <li>

                <a target="_blank" href=""></a>
            </li> -->

        </ol>
    </div>
</div>
<div class="mb-5"></div>