@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="mt-5">
    <h2>Contact</h2>
    <h5>Creator: <a target="_blank" href="mailto:hermansendesigns@gmail.com">HermansenDesigns</a></h5>
</div>

<div class="mb-5"></div>