@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <img src="~/images/HomeOfFacebook (2).PNG" class="img-fluid" style="width: 80%"/>
    </div>
</div>

<div class="mb-5"></div>