@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div>
        <p>Update: Added an article in Misc C# Compiling in Visual studio 2017 and Visual Studio Code <a asp-controller="Misc" asp-action="Index"><i class="fa fa-link" aria-hidden="true"></i></a></p>
    </div>
    <div class="row justify-content-center align-items-center">
        <img src="~/images/HomeOfFacebook (2).PNG" class="img-fluid" style="width: 80%"/>
    </div>
</div>

<div class="mb-5"></div>