@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Lektions plan -->
<div class="mt-5">
    <h2>Lecture Plan</h2>
    <br>
    <div class="table-responsive">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Week</th>
                <th>
                    <a target="_blank" href="https://blackboard.au.dk/webapps/blackboard/content/listContent.jsp?course_id=_110670_1&content_id=_1649043_1">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    DAB
                </th>
                <th>
                    <a target="_blank" href="https://blackboard.au.dk/webapps/stll-eddi-BBLEARN/landing?course_id=_110587_1&mode=view">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    GUI
                </th>
                <th>
                    <a target="_blank" href="https://blackboard.au.dk/webapps/blackboard/execute/announcement?method=search&context=course_entry&course_id=_110675_1&handle=announcements_entry&mode=view">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="http://kurser.iha.dk/eit/it-dkt1/kursusplan_I4IKN_F2018.htm">IKN</a>
                </th>
                <th>
                    <a target="_blank" href="https://blackboard.au.dk/webapps/blackboard/content/listContent.jsp?course_id=_110672_1&content_id=_1637484_1">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://blackboard.au.dk/bbcswebdav/pid-1637513-dt-content-rid-3705575_1/xid-3705575_1">SWD</a>
                </th>
                <th>
                    <a target="_blank" href="https://blackboard.au.dk/webapps/blackboard/execute/announcement?method=search&context=course_entry&course_id=_110671_1&handle=announcements_entry&mode=view">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    SWT
                </th>
                <th>PRJ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">5/1</td>
                <td>Objektorientering (OO) og databaser/persistering  samt I4DAB Kanoniske model</td>
                <td>Introduction to .Net and C#, WPF intro, Delegates and events</td>
                <td>Introduktion til kurset </td>
                <td>
                    Interfaces (Self-study) / Introduction to the course and agile software development / Week 01.2:
                    OO Basics
                </td>
                <td>Introduktion til SWT + Unit Test</td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">6/2</td>
                <td>Domænemodellering 1</td>
                <td>XAML, Layout, WPF-Events </td>
                <td>Ch. 2. Application Layer</td>
                <td>Design smells + SOLID: SRP & OCP</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">7/3</td>
                <td>Domænemodellering 12</td>
                <td>Controls, The Application, Data Binding and Commands</td>
                <td>Ch. 2. Application Layer (continued)</td>
                <td>SOLID: LSP, ISP & DIP</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">8/4</td>
                <td>REST principper og brug af REST (RESTful) JSON og XML</td>
                <td>Data Binding , Resources, Styles and Triggers</td>
                <td>Ch. 2. Application Layer (continued)</td>
                <td>Software design patterns / GoF Observer</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">9/5</td>
                <td>Reporistory og Unit Of Work sowtaremønstre samt ADO.NET programmering mod SQL Server RDB</td>
                <td>Formatting bound data, Grids, Settings and Multithreading</td>
                <td>Øvelse (hele ugen)</td>
                <td>Factory patterns / GoF Template method + GoF Strategy</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">10/6</td>
                <td>Objektorientering og Dokumentorienterede Databaser (AKA Not Only SQL)</td>
                <td>Windows and Dialogs. Shapes and Brushes</td>
                <td>Øvelse (hele ugen)</td>
                <td>State patterns: Switch/case state + GoF State / GoF State</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">11/7</td>
                <td>Obejktorientering og Relationelle Databaser (AKA SQL Databaser)</td>
                <td>Visuals and Images, Control templates and Custom Controls</td>
                <td>Ch. 3. Transport Layer</td>
                <td>GUI Patterns Intro + MVC / GUI Patterns MVP + MVVM + GUI Exercise</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">12/8</td>
                <td>Structured Query Language og Relationel Algerbra</td>
                <td>UWP Apps</td>
                <td>Ch. 3. Transport Layer (continued)</td>
                <td>Mandatory GUI exercise</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-light">
                <td scope="row">13/9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">14/9</td>
                <td>Normaliseing af data (Normalformer særligt for RDB)</td>
                <td>HTML5 and CSS3</td>
                <td>Ch. 4. Networking Layer & Routing</td>
                <td>Software Architecture: Key concepts / - Process + Documentation</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">15/10</td>
                <td>Normaliseing af data (Normalformer særligt for RDB) / CRUD  på Azure Cosmos DB DocumntDB </td>
                <td>ASP.Net Core MVC</td>
                <td>Ch. 6. Link Layer</td>
                <td>Mandatory Design Pattern exercise</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">16/11</td>
                <td>CRUD  på Azure Cosmos DB DocumntDB / CRUD på Microsoft SQL server (ADO.NET EF)</td>
                <td>JavaScript and Web.API</td>
                <td>Øvelse (hele ugen)</td>
                <td>Mandatory Design Pattern exercise / Parallel programming - Threads</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">17/12</td>
                <td>CRUD på Microsoft SQL server (ADO.NET EF)</td>
                <td>JavaScript</td>
                <td>Øvelse (hele ugen)</td>
                <td>Parallel Loops/Tasks</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">18/13</td>
                <td>Arbejde med Hand In </td>
                <td>Bootstrap and responsive design</td>
                <td>Øvelse (hele ugen)</td>
                <td>Parallel Aggregation and MapReduce / Dependencies & Futures</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">19/14</td>
                <td>Arbejde med Hand In </td>
                <td>Angular</td>
                <td>Øvelse (hele ugen)</td>
                <td>Pipelines / Final questions and evaluation</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mb-5"></div>
<div class="mb-5"></div>