@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="mt-5">
    <h2>Useful links</h2>
    <h5>Discord: <a target="_blank" href="https://discord.gg/j9AarBD">E16 IKT, E, EET and ST</a></h5>
    <h5>Github: <a target="_blank" href="https://github.com/AUPRJ/E16-IKT">AUPRJ/E16-IKT</a></h5>
</div>

<div class="mb-5"></div>