@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="mt-5">
    <h2>Schedule</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">08-10</td>
                <td><abbr title="003B-S">DAB</abbr></td>
                <td><abbr title="009C-S & 013A-S">SWT</abbr></td>
                <td><abbr title="003B-S">GUI</abbr></td>
                <td><abbr title="009C-S & 013A-S">IKN</abbr></td>
                <td><abbr title="430E">DAB</abbr></td>

            </tr>
            <tr>
                <td scope="row">10-12</td>
                <td><abbr title="003B-S">GUI</abbr></td>
                <td></td>
                <td><abbr title="003B-S">SWD</abbr></td>
                <td><abbr title="009C-S & 013A-S">SWT</abbr></td>
                <td><abbr title="003B-S">SWD</abbr></td>
            </tr>
            <tr>
                <td scope="row">12-14</td>
                <td></td>
                <td><abbr title="Det Store IT Auditorium - Incuba">IKN</abbr></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>